@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background:linear-gradient(125deg, #FCFBF7, #F4ECE1);
    padding: 24px;
}
header{
    width: 100%;
    height:40px;
    display:flex;
    padding: 40px;
    justify-content: space-between;
    margin-bottom: 24px;
}
header .nav-logo{
    width: 32px;
    display: flex;
    align-items:center;
    margin-right:4px;
    p{
        font-family: 'poppins';
        font-weight: 600;
        text-align: center;
        font-size:32px;
    }
}
header .nav-principal{
    width: 456px;
    margin:0 352px;
}
header .nav-principal ul{
    display: flex;
    justify-content:space-between;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 22px;
    li a{
    text-decoration: none;
    color: #000;
    }
}
.pesquisa{
    width:314px;
    height:60px;
    box-shadow: 0 8px 12px #d1c7bb;
    border: 0 none;
    border-radius: 35px;
    padding: 12px;
    input{
        width:240px;
        height:40px;
        background-color: transparent;
        border: 0 0 none;
        border-color: transparent;
    }
}
.recepcao{
    display: flex;
    justify-content: space-between;
    margin: 140px 0 0 86px;
}
.container{ 
    text-decoration: none;
}
p{
    text-decoration: none;
}
.container .descricao{
    font-size: 22px;
    font-family: 'poppins';
    font-weight: 400;
    line-height: 30.54px;
    color: #909090;
    width: 568px;
    margin: 24px 0 0 6px;
    text-decoration: none;
}
.titulo{
    display:flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
}
.titulo h1{
    font-size: 125px;
    font-family: 'poppins';
    font-weight: 700;
    color: #ff7e00;
    margin-right: 16px;
}
.titulo h2{
    font-size: 52px;
    font-family: 'poppins';
    font-weight: 700;
    line-height: 49.3px;
    color: #2f2f2f;
}
.buttons{
    margin: 44px 0 95px 0;
    display: flex;
}
.button{
    background-color: #2F2F2F;
    color: #fff;
    font-family: 'poppins';
    height: 70px;
    padding: 24px 40px;
    border-radius: 84px;
    font-weight: 600;
    margin-right: 28px;
}
.button-video{
    display: flex;
    align-items:center
}
.button-video .play{
    width: 57px;
    height:57px;
    background-color: #FFF8F0;
    border-radius: 100%;
    box-shadow: 0 8px 12px #d1c7bb;
    display: grid;
    justify-content: center;
    align-items: center;
}
.button-video p{
    font-size: 20px;
    font-weight: 600;
    color:#2F2F2F;
    font-family: 'poppins';
    margin-left: 11px;
}
.charge{
    height:712px;
    margin-top: -40px;
}
